@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: rgb(226, 226, 226);
    position: sticky;
    top: -1px;
}

header h1 {
    text-align: center;
    padding: 10px;
}

span#burguer{
    display: none;
}

/*
Ramon Rodrigues
------------------------------------------------------------------
Esse sistema de abrir e fechar menu da para ser feito no CSS mesmo.
Vc envelopa menu em um <label></label> e conecta ele em um input[Type="Checkbox"].
Com isso feito em HTML podemos passar para o CSS; Caso o input[checkbox] estiver checado ele abrira o menu.
EX:

HTML:
<input type="checkbox" id="input_01">
<label for="input_01">
         <menu>
             [itens]
         </menu>
</label>

CSS:
input[type="checkbox"]:checked  ~ header menu {
      display: block; 
}

TIPO ISSO!
*/

header menu {
    background-color: lightgray;
    padding: 8px;
    margin: auto;
    text-align: center;
}

menu > ul > li {
    display: inline-block;
    background-color: rgb(167, 167, 167);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

menu > ul > li:hover {
    text-decoration: underline;
}

article {
    margin: auto;
    margin-top: 10px;
    max-width: 650px;
    text-align: justify;
}

article > h2{
    text-align: center;
}

article > hr {
    margin: 5px 0px 5px 0px;
}

article > p {
    text-indent: 1.5em;
    margin-bottom: 10px;
}
